classes:
  - system.linux.system.repo.ubuntu
  - system.salt.master.pkg
  - cluster.k8s-single.infra.formulas
  - system.salt.minion.ca.salt_master
  - system.reclass.storage.salt
  - cluster.k8s-single
  - cluster.k8s-single.kubernetes.control
parameters:
  _param:
    salt_master_base_environment: prd
    reclass_data_repository: "https://github.com/tomkukral/kubernetes-aws-model.git"
    reclass_data_revision: master
    reclass_config_master: ${_param:infra_config_deploy_address}
    single_address: ${_param:infra_config_address}
    linux_system_codename: xenial
    salt_api_password_hash: "$6$WV0P1shnoDh2gI/Z$22/Bcd7ffMv0jDlFpT63cAU4PiXHz9pjXwngToKwqAsgoeK4HNR3PiKaushjxp3JsQ8hNoJmAC6TxzVqfV8WH/"
    salt_master_host: 127.0.0.1
  salt:
    master:
      reactor:
        reclass/minion/classify:
          - salt://reclass/reactor/node_register.sls
  reclass:
    storage:
      data_source:
        engine: local
      class_mapping:
        common_node:
          expression: all
          node_param:
            single_address:
              value_template: <<node_deploy_ip>>
            linux_system_codename:
              value_template: <<node_os>>
            salt_master_host:
              value_template: <<node_master_ip>>
            cluster_name:
              value_template: <<node_cluster>>
            cluster_domain:
              value_template: <<node_domain>>
        infra_config:
          expression: <<node_hostname>>__equals__cfg01
          cluster_param:
            infra_config_address:
              value_template: <<node_deploy_ip>>
            infra_config_deploy_address:
              value_template: <<node_deploy_ip>>
            cluster_domain:
              value_template: <<node_domain>>
          node_class:
            value_template:
              - cluster.<<node_cluster>>.infra.config
